<div>
  <div class="row m-0">
    <div class="col-lg-3 col-1 p-0">
      <app-sidebar-accountant></app-sidebar-accountant>
    </div>

    <div class="col-lg-9 col-11 mx-auto ">
      <div class="container-lg box">

        <div class="head-one d-flex align-items-center justify-content-between">
          <h3>Shipped Order</h3>
        </div>

        <div class="table-wrapper childs">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Order-ID</th>
                <th scope="col">Qrcode</th>
                <th scope="col">User</th>
                <th scope="col">Product </th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Phone</th>
                <th>Control</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of pinding">
              <tr>
                <td>
                  <h6>{{order.order_id}}</h6>
                </td>
                <td>
                  <h6>{{order.qrCode}}</h6>
                </td>
                <td>
                  <h6>{{order.user_name}}</h6>
                </td>
                <td>
                  <h6>{{order.product_name}}</h6>
                </td>
                <td>
                  <h6>
                    <h6>{{order.price}}</h6>
                  </h6>
                </td>
                <td>
                  <h6>{{order.quantity}}</h6>
                </td>
                <td>
                  <h6>{{order.phone}}</h6>
                </td>
                <td>
                  <div>
                    <a routerLink="/accountant/cancelQuant/{{order.order_id}}">
                      <i class="fa-solid fa-file-pen"></i></a>
                  </div>
                </td>
              </tr>
              <div class="alert alert-danger" role="alert" *ngIf="valid && idCheckAlert==order.order_id">
                <p>Are you sure, you want to deliver this order?</p>
                <button type="button" class="btn btn-outline-success" (click)="valid=false">Cancel</button>
                <button type="button" class="btn btn-outline-danger" (click)="deliverOrder(order.order_id)">OK</button>
              </div>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
