<app-navbar></app-navbar>
<div  *ngIf="isLoading"  class="spinner position-fixed  w-100 h-100 d-flex justify-content-center align-items-center  mt-5 pt-5 bg-white"> <!-- show spinner when loading is true -->
  <app-spinner></app-spinner>
</div>


<div class="container box">
    <div class="profile">
        <div class="profile-back">
        </div>

        <div class="profile-content">
            <img src="assets/{{user.photo}}" alt="">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <p style="color: #7E858B;">{{user.email}}</p>
        </div>

    </div>

    <div class="icon" routerLink="/user">
        <i class="fa-solid fa-angles-left">Back</i>
        <a style="margin-left: 5px;">Back</a>
    </div>

    <div class="dashboard">
        <div class="child  d-flex flex-column" routerLink="/user/dashboard/orders">
            <div class="icon">
                <i class="fa-solid fa-chart-simple fa-2xl"></i>
            </div>
            <div class="content">All Orders</div>
        </div>

        <div class="child  d-flex flex-column" routerLink="/user/dashboard/shippedOrders">
            <div class="icon">
                <i class="fa-solid fa-house-circle-check fa-2xl"></i>
            </div>
            <div class="content">Shipped Orders</div>
        </div>

        <div class="child  d-flex flex-column" routerLink="/user/dashboard/pendingOrders">
            <div class="icon">
                <i class="fa-solid fa-clock-rotate-left fa-2xl"></i>
            </div>
            <div class="content">Pending Orders</div>
        </div>
    </div>

</div>
<app-footer></app-footer>
