<div class="parent">
    <div class="container">
        <div class="row box">
            <div class="child1">

                <div class="logo">
                    <img src="assets/login-imgs/logo.png" alt="logo">
                    <h3>Pharma</h3>
                </div>

                <!-- login -->
                <div class="content">
                    <div class="text">
                        <h2>Welcome Back</h2>
                        <p>Please enter your details.</p>
                    </div>
                    <form class="inputs" #userForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(userForm.value)">

                        <label>Email</label>
                        <input type="email" id="email" class="form-control input" placeholder="address@email.com"
                            pattern="^\w(\.?\w){2,}@[a-z]{2,10}\.com$"
                            [class.is-invalid]="email.invalid && email.touched" #email="ngModel" name="email" [(ngModel)]="userModel.email"
                            required>
                        <div *ngIf="email.errors && email.touched">
                            <small class="text-danger" *ngIf="email.errors?.['required']">Email is required</small>
                            <small class="text-danger" *ngIf="email.errors?.['pattern']">Please enter valid
                                email</small>
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            <div class=" input-group mb-3">
                                <input type="{{ showPassword ? 'text' : 'password' }}"
                                    [(ngModel)]="userModel.password" class="form-control mb-0"
                                    placeholder="Password" pattern="\S{8,}"
                                    [class.is-invalid]="pass.invalid && pass.touched" #pass="ngModel"
                                    name="password" required>
                                <span class="input-group-text" (click)="toggleShowPassword()" *ngIf="showPassword">
                                    <i class="fa-regular fa-eye"></i>
                                </span>
                                <span class="input-group-text" (click)="toggleShowPassword()" *ngIf="!showPassword">
                                    <i class="fa-regular fa-eye-slash"></i>
                                </span>
                            </div>
                            <div *ngIf="pass.errors && pass.touched">
                                <small class="text-danger" *ngIf="pass.errors?.['required']">
                                    Password is required</small>
                                <small class="text-danger" *ngIf="pass.errors?.['pattern']">
                                    Password must be at least 8 characters</small>
                            </div>
                        </div>

                        <div class="remember-forget">
                            <label>
                                <input type="checkbox" name="remember" id="remember">&nbsp;
                                Remember me!
                            </label>
                            <a id="forgetPass" routerLink="/forgetPassword"> Forget password</a>
                        </div>

                        <!-- alert email is invalid -->
                        <div class="alert alert-success" role="alert" *ngIf="emailInvalid">
                            Please enter correct email!
                        </div>

                        <!-- alert password is invalid -->
                        <div class="alert alert-success" role="alert" *ngIf="passwordInvalid">
                            Please enter correct password!
                        </div>

                        <!-- alert email is disabled -->
                        <div class="alert alert-success" role="alert" *ngIf="emailDisabled">
                            Sorry, your email is disabled
                        </div>

                        <input type="submit" class="form-control submit" value="Sign in">

                    </form>

                </div>
                <!-- end login -->

            </div>

            <div class="child2">
                <img src="assets/login-imgs/white-shape-r.png" class="shape one" alt="shape1">
                <img src="assets/login-imgs/white-shape.png" class="shape two" alt="shape2">
                <img src="assets/login-imgs/green-shape-r.png" class="shape three" alt="shape3">
            </div>
        </div>

    </div>
</div>