<div>
  <div class="row m-0">
    <div class="col-lg-3 col-1 p-0">
      <app-sidebar-admin></app-sidebar-admin>
    </div>
    <div class="col-lg-9 col-11 mx-auto ">
      <div class="container-lg box">
        <div class="head-one d-flex align-items-center justify-content-between">
          <h3>Product Discount</h3>
          <div class="add-oc" routerLink="/admin/offers/add">Add Discount</div>
        </div>
        <div class="table-wrapper childs">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Qrcode</th>
                <th scope="col">Price</th>
                <th scope="col">Percentage_Discount</th>
                <th scope="col">Discount_price</th>
                <th>Setting</th>
              </tr>
            </thead>
            <tbody *ngFor="let disc of discount">
              <tr>
                <td>
                  <h6>{{disc.product.qrCode}}</h6>
                </td>
                <td>
                  <h6>{{disc.product.price}}</h6>
                </td>
                <td>
                  <h6>{{disc.presentage_Discount}}%</h6>
                </td>
                <td>
                  <h6>{{disc.discount_price}}</h6>
                </td>
                <td>
                  <div>
                    <a routerLink="/admin/offers/edit/{{disc.product_id}}">
                      <i class="fa-solid fa-pen-to-square"></i></a>
                    <a (click)="valid=true;idCheckAlert= disc.product_id"><i class="fa-solid fa-trash"></i></a>
                  </div>
                </td>
              </tr>
              <div class="alert alert-danger" role="alert" *ngIf="valid && disc.product_id==idCheckAlert">
                <p>Are you sure, you want to delete item?</p>
                <button type="button" class="btn btn-outline-success" (click)="valid=false">Cancel</button>
                <button type="button" class="btn btn-outline-danger"
                  (click)="deleteDiscount(disc.product_id)">OK</button>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>