<div class="parent">
  <div class="container">
    <div class="row box">
      <div class="child1">
        <div class="logo">
          <img src="../../../assets/login-imgs/icons8-mandala-66.png" alt="logo">
          <h3>Pharma</h3>
        </div>
        <!-- forget password -->
        <div id="forgetContent">
          <div class="content">
            <div class="text">
              <h2>Forgot Password?</h2>
              <p>No worries, we'll send you reset instructions.</p>
            </div>
            <form class="inputs" #userForget="ngForm" ngNativeValidate (ngSubmit)="onForget(userForget.value)">
              <label>Email</label>
              <input type="email" id="email-forget" class="form-control" placeholder="address@email.com"
                pattern="^\w(\.?\w){2,}@[a-z]{2,10}\.com$" [class.is-invalid]="emailF.invalid && emailF.touched"
                #emailF="ngModel" name="email" [ngModel] required [disabled]="loading">
              <div *ngIf="emailF.errors && emailF.touched">
                <small class="text-danger" *ngIf="emailF.errors?.['required']">Email is required</small>
                <small class="text-danger" *ngIf="emailF.errors?.['pattern']">Please enter valid
                  email</small>
              </div>
              <button class="btn d-block border-0 text-white form-control submit" type="submit" [disabled]="loading">
                <span class="spinner me-2" *ngIf="loading">
                  <i class="fa-solid fa-circle-notch fa-spin"></i>
                </span>
                <span class="">Reset Password</span>
              </button>
              <div id="backLogin" (click)="backLogin()">
                <i class="fa-solid fa-arrow-left"></i>
                <p>Back to login</p>
              </div>
            </form>
          </div>
        </div>
        <!-- end forget password -->
      </div>
      <div class="child2">
        <img src="assets/login-imgs/white-shape-r.png" class="shape one" alt="shape1">
        <img src="assets/login-imgs/white-shape.png" class="shape two" alt="shape2">
        <img src="assets/login-imgs/green-shape-r.png" class="shape three" alt="shape3">
      </div>
    </div>
  </div>
</div>
