<div>
  <div class="row m-0">
    <div class="col-lg-3 col-1 p-0">
      <app-sidebar-admin></app-sidebar-admin>
    </div>

    <div class="col-lg-9 col-11 mx-auto ">
      <div class="container-lg box">

        <div class="head-one d-flex align-items-center justify-content-between">
          <h3>Laboratories</h3>
          <div class="add-oc" routerLink="/admin/labs/add">Add Lab</div>
        </div>
        <div class="table-wrapper childs">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Medical Analyses</th>
                <th scope="col">Phone</th>
                <th>Setting</th>
              </tr>
            </thead>
            <tbody *ngFor="let lab of labs">
              <tr>
                <td>
                  <div>
                    <img src="assets/{{lab.photo}}" alt="">
                    <h6>{{lab.name}}</h6>
                  </div>
                </td>
                <td>
                  <h6>{{lab.type_of_medical_analyses}}</h6>
                </td>
                <td>
                  <h6>{{lab.phone}}</h6>
                </td>
                <td>
                  <div>
                    <a routerLink="/admin/labs/edit/{{lab.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a (click)="valid=true; idCheckAlert=lab.id"><i class="fa-solid fa-trash"></i></a>
                  </div>
                </td>
              </tr>
              <div class="alert alert-danger" role="alert" *ngIf="valid && idCheckAlert==lab.id">
                <p>Are you sure, you want to delete item?</p>
                <button type="button" class="btn btn-outline-success" (click)="valid=false">Cancel</button>
                <button type="button" class="btn btn-outline-danger" (click)="deleteLab(lab.id)">OK</button>
              </div>

            </tbody>
          </table>
        </div>

      </div>


    </div>

  </div>
</div>
