
  <div class="row m-0 ">
    <div class="col-lg-3 col-1 p-0 ">
        <app-sidebar-owner></app-sidebar-owner>
    </div>

    <div class="col-lg-9 col-11 mx-auto ">
      <div class="container-lg  ">
        <div class="row g-0 w-100 mt-4">
            <div class="col-md-6  pe-3 ">
              <div class="section-left">
              <app-last-year-sales></app-last-year-sales>
              </div>
            </div>

            <div class="col-md-6 m-md-0 mt-4 ps-3">
              <div class="section-right">
                <app-last-year-orders></app-last-year-orders>
              </div>
            </div>
        </div>

        <div class="row ">
          <div class="col-md-7 pe-3  m-md-0 mt-4">
            <div class="section-left">
              <app-last-year-users></app-last-year-users>
            </div>
          </div>
          <div class="col-md-5  m-md-0 mt-4">
            <div class=" section-right">
              <app-top-order></app-top-order>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6   m-md-0 mt-4">
            <div class="section-left">
              <app-top-sales></app-top-sales>
            </div>
          </div>
          <div class="col-md-6  m-md-0 mt-4">
            <div class=" section-right">
              <app-top-canceled></app-top-canceled>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8  m-md-0 mt-4">
            <div class="section-left  ">
              <app-top-pending></app-top-pending>
            </div>
          </div>

        </div>

      </div>

   </div>

  </div>
