* {
  box-sizing: border-box;
}



.box {
  margin: 50px 0;

}

::placeholder {
  color: #608a5c;
  font-size: 11px;
}

.head-one {
  color: #115837;
  margin-bottom: 50px;
  height: 100px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.alert {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 50px;
  top: 30%;
  box-shadow: 0 0 14px -5px #0f5132;
}

.add-oc {
  background-color: #115837;
  padding: 20px;
  width: 255px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.add-oc:hover {
  background-color: #0e492d;
}


.childs a {
  color: #115837;
  cursor: pointer;
}


.table-wrapper {
  overflow-x: auto;
  height: fit-content;
  text-align: center;
  margin-bottom: 50px;
  min-height: 200px;
  padding: 0 30px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

tbody, td, tfoot, th,tr{
  border-style: none;
}

thead
{
  border-bottom:2px solid #11583796 ;
  color: #115837;
  height: 50px;
  }

td{
  padding: 1.5rem .5rem;
}

th{
  padding: 20px 10px;
}

h6{
  color: #115837
}
.childs img {
  width: 80px;
  height: 80px;
  margin-top: -20px;
}
.col-lg-3 {
  width: 20%;
}
