<!-- Navbar -->
<app-navbar></app-navbar>
<div  *ngIf="isLoading"  class="spinner position-fixed  w-100 h-100 d-flex justify-content-center align-items-center  mt-5 pt-5 bg-white"> <!-- show spinner when loading is true -->
  <app-spinner></app-spinner>
</div>
<!-- main-page -->
<div class="container">
  <div class="header"><h2 class="title">All News</h2></div>
  <div class="product-container">
    <div class="box" *ngFor="let item of allnews">
      <app-news [newProduct]="item"  [addToWishList]="wishList.indexOf(item.id) >=0"></app-news>
    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
