<div class="slider position-relative">
  <div>
    <img src="assets/{{ newProduct.photo }}" alt="photo" routerLink="/details/{{ newProduct.id }}" />
    <div class="item ">
      <div class="full" *ngIf="addToWishList" (click)="deleteFromWishList(newProduct.id); ">
        <i class="fa-solid fa-heart"> </i>
      </div>
      <div class="empty" *ngIf="!addToWishList" (click)="addtoWishList(newProduct.id); ">
        <i class="fa-regular fa-heart"> </i>
      </div>
    </div>

    <div class="dicount" *ngIf="newProduct.discount !== null">
      <label>- {{ newProduct.discount.presentage_Discount }}%</label>
    </div>

    <div class="dicount" *ngIf="newProduct.discount === null">
      <label>- 0%</label>
    </div>

    <div class="details" routerLink="/details/{{ newProduct.id }}">
      <h3 class="name">{{ newProduct.name }}</h3>
      <p class="description">{{ newProduct.description }}</p>
      <div>
        <div class="discountclass" *ngIf="newProduct.discount !== null">
          <h5 class="price">{{ newProduct.discount.discount_price }}</h5>
          <h5 class="pricedel">
            <del>{{ newProduct.price }}</del>
          </h5>
        </div>

        <div *ngIf="newProduct.discount === null">
          <h5 class="price">{{ newProduct.price }}</h5>
        </div>

      </div>
    </div>
  </div>
  <div class="quantity">
    <button class="add" (click)="addtoCart(newProduct.id)">
      <span *ngIf="!loading">
        <i class="fas fa-plus"></i>
      </span>
      <span *ngIf="loading">
        <i class="fa-solid fa-circle-notch fa-spin"></i>
      </span>
      Add To Cart
    </button>
  </div>
  <div *ngIf="showSuccessMessage" class="success-message text-main bg-white border-primary">
    Product added to cart!
  </div>
  <div *ngIf="showAddMessage" class="success-message text-main bg-white border-primary">
    Product added to WishList!
  </div>
  <div *ngIf="showDeleteMessage" class="success-message text-main bg-white border-primary">
    Product deleted from WishList!
  </div>
</div>
