<div>
  <div class="row m-0">
    <div class="col-lg-3 col-1 p-0">
      <app-sidebar-coord></app-sidebar-coord>
    </div>

    <div class="col-lg-9 col-11 mx-auto ">
      <div class="container-lg box">

        <div class="head-one d-flex align-items-center justify-content-between">
          <h3>Shipped Orders</h3>
        </div>
        <div class="table-wrapper childs">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Order-ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">QR Code</th>
                <th scope="col">Photo</th>
                <th scope="col">phone</th>
                <th scope="col">city</th>
                <th scope="col">Street</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th>Order Coordinator</th>
              </tr>
            </thead>
            <tbody *ngFor="let shippedOrder of allShippedOrders">
              <tr>
                <td>
                  <h6>{{shippedOrder.order_id}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.user_name}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.product_name}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.qrCode}}</h6>
                </td>
                <td>
                  <img src="../../../../assets/{{shippedOrder.photo}}">
                </td>
                <td>
                  <h6>{{shippedOrder.phone}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.city}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.street}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.quantity}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.price}}</h6>
                </td>
                <td>
                  <h6>{{shippedOrder.order_cordinator}}</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>