
/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: rgb( 235, 242, 246 );
  --white-color: #FFF;
  --grey-color : rgb(134, 134, 134);
  --small-font : 16px !important
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  *,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans - serif;;
  font-weight: 400;
  line-height: 1.6;
  color: var( --grey - Dark - 2 );
  background-size: cover;
  background-repeat: no - repeat;
  min-height: 100vh;
}

.bg-red{
  background-color: rgba(237, 236, 236, 0.8);
}

.chart-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
