<app-navbar></app-navbar>
<div *ngIf="isLoading"
  class="spinner position-fixed  w-100 h-100 d-flex justify-content-center align-items-center  mt-5 pt-5 bg-white">
  <!-- show spinner when loading is true -->
  <app-spinner></app-spinner>
</div>
<div class="container box">
  <div class="profile">

    <div class="profile-img">
    </div>

    <div class="profile-content">
      <img src="assets/{{user.photo}}" alt="">
      <h2>{{userShortData.first_name}} {{userShortData.last_name}}</h2>
      <p style="color: #7E858B;">{{userShortData.email}}</p>
    </div>

  </div>
  <div class="back-edit" *ngIf="showBack" (click)="showProfile()">
    <i class="fa-solid fa-angles-left"></i>
    <a style="margin-left: 5px;">Back</a>
  </div>
  <div class="edit-pass-email">
    <div class="update_pass" (click)="showPass()">Edit password</div>
    <div class="update_email" (click)="showEmail()">Edit email</div>
  </div>


  <div class="edit-profile">
    <h3>EDIT PROFILE</h3>

    <!-- update profile -->

    <form #userForm="ngForm" (ngSubmit)="onsubmit(userForm.value)" class="form" ngNativeValidate
      *ngIf="showEditProfile">

      <div class="alert alert-success" role="alert" *ngIf="valid">
        Your changed is updated sucessfully
      </div>

      <div class="mb-3">
        <label class="form-label">First name</label>
        <input type="text" class="form-control input" name="first_name" #fname="ngModel"
          [class.is-invalid]="fname.invalid && fname.touched" [(ngModel)]="user.first_name" minlength="2" required>
        <div *ngIf="fname.errors && fname.touched">
          <small class="text-danger" *ngIf="fname.errors?.['required']">
            Please enter first name
          </small>
          <small class="text-danger" *ngIf="fname.errors?.['minlength']">
            must contain at least 2 character
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Second name</label>
        <input type="text" class="form-control input" name="last_name" #lname="ngModel"
          [class.is-invalid]="lname.invalid && lname.touched" [(ngModel)]="user.last_name" minlength="2" required>
        <div *ngIf="lname.errors && lname.touched">
          <small class="text-danger" *ngIf="lname.errors?.['required']">
            Please enter second name
          </small>
          <small class="text-danger" *ngIf="lname.errors?.['minlength']">
            must contain at least 2 character
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control input" name="city" #city="ngModel"
          [class.is-invalid]="city.invalid && city.touched" [(ngModel)]="user.city" pattern="[0-9a-zA-Z\s]{3,}">
        <div *ngIf="city.errors && city.touched">
          <small class="text-danger" *ngIf="city.errors?.['pattern']">Please enter valid city</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control input" name="street" #street="ngModel"
          [class.is-invalid]="street.invalid && street.touched" [(ngModel)]="user.street" pattern="[0-9a-zA-Z\s]{4,}">
        <div *ngIf="street.errors && street.touched">
          <small class="text-danger" *ngIf="street.errors?.['pattern']">Please enter valid address</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Phone number</label>

        <div class=" input-group mb-3">
          <span class="input-group-text" id="basic-addon1">+20</span>
          <input type="tel" class="form-control input" name="phone" #phone="ngModel"
            [class.is-invalid]="phone.invalid && phone.touched" [(ngModel)]="user.phone"
            pattern="^(1|01)[0-2,5]{1}[0-9]{8}$">
        </div>
        <div *ngIf="phone.errors && phone.touched">
          <small class="text-danger" *ngIf="phone.errors?.['pattern']">Please enter valid
            phone number</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Photo</label>
        <input type="file" class="form-control" accept="image/*" name="photo" #photo="ngModel" [ngModel]
          (change)="onPhotoSelected($event)">
      </div>

      <input type="submit" class="form-control" value="Submit">
    </form>

    <!-- update password -->

    <form #userForm="ngForm" (ngSubmit)="onsubmitPass(userForm.value)" class="form update-pass" ngNativeValidate
      *ngIf="showEditPass">

      <div class="alert alert-success" role="alert" *ngIf="valid">
        Password is updated sucessfully
      </div>

      <div class="alert alert-success" role="alert" *ngIf="exist">
        This password is taken before, choose another password
      </div>

      <div class="alert alert-success" role="alert" *ngIf="inValid">
        Old password is incorrect try again!
      </div>


      <div class="mb-3">
        <label class="form-label">Old password</label>
        <div class=" input-group mb-3">
          <input type="{{ showPassword ? 'text' : 'password' }}" [ngModel] class="form-control mb-0 "
            placeholder="Old password" pattern="\S{8,}" [class.is-invalid]="pass.invalid && pass.touched"
            #pass="ngModel" name="old_password" required>
          <span class="input-group-text" (click)="toggleShowPassword()" *ngIf="showPassword">
            <i class="fa-regular fa-eye"></i>
          </span>
          <span class="input-group-text" (click)="toggleShowPassword()" *ngIf="!showPassword">
            <i class="fa-regular fa-eye-slash"></i>
          </span>
        </div>
        <div *ngIf="pass.errors && pass.touched">
          <small class="text-danger" *ngIf="pass.errors?.['required']">
            Old password is required</small>
          <small class="text-danger" *ngIf="pass.errors?.['pattern']">
            Password must be at least 8 characters</small>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">New password</label>
        <div class=" input-group mb-3">
          <input type="{{ showNewPassword ? 'text' : 'password' }}" [(ngModel)]="userModel.password"
            class="form-control mb-0 " placeholder="New password" pattern="\S{8,}"
            [class.is-invalid]="nPass.invalid && nPass.touched" #nPass="ngModel" name="new_password" required>
          <span class="input-group-text" (click)="toggleShowNewPassword()" *ngIf="showNewPassword">
            <i class="fa-regular fa-eye"></i>
          </span>
          <span class="input-group-text" (click)="toggleShowNewPassword()" *ngIf="!showNewPassword">
            <i class="fa-regular fa-eye-slash"></i>
          </span>
        </div>
        <div *ngIf="nPass.errors && nPass.touched">
          <small class="text-danger" *ngIf="nPass.errors?.['required']">
            Password is required</small>
          <small class="text-danger" *ngIf="nPass.errors?.['pattern']">
            Password must be at least 8 characters</small>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Repeat password</label>
        <div class=" input-group mb-3">
          <input type="{{ showRepeatPassword ? 'text' : 'password' }}" [ngModel] class="form-control mb-0 "
            placeholder="Confirm password" pattern="{{userModel.password}}"
            [class.is-invalid]="rPass.invalid && rPass.touched" #rPass="ngModel" name="new_password_confirmation"
            required>
          <span class="input-group-text" (click)="toggleShowRepeatPassword()" *ngIf="showRepeatPassword">
            <i class="fa-regular fa-eye"></i>
          </span>
          <span class="input-group-text" (click)="toggleShowRepeatPassword()" *ngIf="!showRepeatPassword">
            <i class="fa-regular fa-eye-slash"></i>
          </span>
        </div>
        <div *ngIf="rPass.errors && rPass.touched">
          <small class="text-danger" *ngIf="rPass.errors?.['required']">
            Confirm Password is required</small>
          <small class="text-danger" *ngIf="rPass.errors?.['pattern']">
            Password must be at least 8 characters</small>
        </div>
      </div>

      <input type="submit" class="form-control" value="Submit">
    </form>


    <!-- update email  -->

    <form #userForm="ngForm" (ngSubmit)="onsubmitEmail(userForm.value)" class="form" ngNativeValidate
      *ngIf="showEditEmail">

      <div class="alert alert-success" role="alert" *ngIf="inValid">
        Your email is not changed!
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control input" name="email" #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="user.email"
          pattern="^\w(\.?\w){2,}@[a-z]{2,10}\.com$" required>

        <div *ngIf="email.errors && email.touched">
          <small class="text-danger" *ngIf="email.errors?.['required']">Email is required</small>
          <small class="text-danger" *ngIf="email.errors?.['pattern']">Please enter valid
            email</small>
        </div>
      </div>

      <input type="submit" class="form-control" value="Submit">
    </form>


    <!-- verification -->

    <div class="verification" *ngIf="showVerification">

      <div class="text">
        <h4 class="mt-3">Verification Code</h4>
        <p>Enter the four digits code that we have sent through your email.</p>
      </div>

      <form class="form" (ngSubmit)="onVerify()" ngNativeValidate>

        <div class="alert alert-success" role="alert" *ngIf="valid">
          Email is verified successfully
        </div>

        <div class="alert alert-success" role="alert" *ngIf="inValid">
          Verification code is incorrect, try again!
        </div>

        <div class="alert alert-success" role="alert" *ngIf="exist">
          Verification code is resend again
        </div>

        <div class="d-flex flex-row mt-5 mb-5 gap-5 vrf-input">
          <input type="text" class="form-control" required>
          <input type="text" class="form-control" required>
          <input type="text" class="form-control" required>
          <input type="text" class="form-control" required>
        </div>
        <input type="submit" class="form-control" value="Continue">

        <p class="resend" (click)="resend()">Resend code</p>

      </form>
    </div>
  </div>
</div>
