<div class="">
  <div class="row m-0 ">
    <div class="col-lg-3 col-1 p-0">
      <app-sidebar-owner></app-sidebar-owner>
    </div>

    <div class="col-lg-9 col-11 mx-auto ">
      <div class="container-lg box">

        <div class="head-one d-flex align-items-center justify-content-between">
          <h3>Order Coordinators Analytics</h3>
        </div>

        <div class="parent">

          <div class="child d-flex flex-column" (click)="showCoordAll()">
            <div class="content">{{OrderCoordinatorStats.total_order_cordinators}}</div>
            <div class="icon">
              Total Number of Order Coordinators
            </div>
          </div>

          <div class="child d-flex flex-column" (click)="showCoordToday()">
            <div class="content">{{OrderCoordinatorStats.order_cordinator_today}}</div>
            <div class="icon">
              Added This Day
            </div>
          </div>

          <div class="child d-flex flex-column" (click)="showCoordMonth()">
            <div class="content">{{OrderCoordinatorStats.order_cordinator_month}}</div>
            <div class="icon">
              Added This Month
            </div>
          </div>

          <div class="child  d-flex flex-column" (click)="showCoordYear()">
            <div class="content">{{OrderCoordinatorStats.order_cordinator_year}}</div>
            <div class="icon">
              Added This Year
            </div>
          </div>
        </div>


        <!-- All Accountants -->
        <div class="table-wrapper childs" *ngIf="showAll">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let coord of OrderCoordinatorAll">
              <tr>
                <td>
                  <img src="assets/{{coord.photo}}">
                </td>
                <td>
                  <h6>{{coord.first_name}} {{coord.last_name}}</h6>
                </td>
                <td>
                  <h6>{{coord.email}}</h6>
                </td>
                <td>
                  <h6>{{coord.phone}}</h6>
                </td>
                <td *ngIf="coord.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="coord.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- Today Accountants -->
        <div class="table-wrapper childs" *ngIf="showToday">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let coord of OrderCoordinatorDay">
              <tr>
                <td>
                  <img src="assets/{{coord.photo}}">
                </td>
                <td>
                  <h6>{{coord.first_name}} {{coord.last_name}}</h6>
                </td>
                <td>
                  <h6>{{coord.email}}</h6>
                </td>
                <td>
                  <h6>{{coord.phone}}</h6>
                </td>
                <td *ngIf="coord.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="coord.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Month Accountants -->
        <div class="table-wrapper childs" *ngIf="showMonth">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let coord of OrderCoordinatorMonth">
              <tr>
                <td>
                  <img src="assets/{{coord.photo}}">
                </td>
                <td>
                  <h6>{{coord.first_name}} {{coord.last_name}}</h6>
                </td>
                <td>
                  <h6>{{coord.email}}</h6>
                </td>
                <td>
                  <h6>{{coord.phone}}</h6>
                </td>
                <td *ngIf="coord.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="coord.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Year Accountants -->
        <div class="table-wrapper childs" *ngIf="showYear">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let coord of OrderCoordinatorYear">
              <tr>
                <td>
                  <img src="assets/{{coord.photo}}">
                </td>
                <td>
                  <h6>{{coord.first_name}} {{coord.last_name}}</h6>
                </td>
                <td>
                  <h6>{{coord.email}}</h6>
                </td>
                <td>
                  <h6>{{coord.phone}}</h6>
                </td>
                <td *ngIf="coord.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="coord.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>