#resetPassword .content {
    height: 565px;
}

#resetPassword .content .vr-con .form-control{
    text-align: center;
    margin: 0;
    padding: 10px;
}

#backLog {
    display: flex;
    cursor: pointer;
}

.input-group-text{
    font-size: 14px;
}