<!--footer assmaa-->
<footer>
  <div class="all-links m-auto d-block p-o m-0 ">
    <div class="row  pb-5 m-0">
      <div class="col-lg-3 ms-lg-0">
        <p class="my-3 text-capitalize text-grey">Support</p>
        <p class="ms-lg-0 "><i class="fa-solid fa-phone text-primary"></i> 02-367-36-558 </p>
      </div>
      <div class="col-lg-3 ms-lg-0">
        <p class="my-3 text-capitalize  text-grey"> Email</p>
        <p class="ms-lg-0 "><i class="fa-solid fa-envelope text-primary"></i> info@ph.com </p>
      </div>
      <div class="col-lg-3 ms-lg-0">
        <p class="my-3 text-capitalize  text-grey">Social networks</p>
        <p class="ms-lg-0 ">
          <a href="#"><i class="fa-brands fs-4 mx-2 fa-facebook text-primary"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-instagram text-primary fs-4"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-telegram text-primary fs-4"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-youtube text-primary fs-4"></i></a>
          <a href="#"><i class="fa-brands mx-2 fa-tiktok text-primary fs-4"></i></a>
        </p>
      </div>
      <div class="col-lg-3 ms-lg-0">
        <p class="my-3 text-capitalize  text-grey">Subscribe to newsletter</p>
        <div class="promocode-box position-relative d-flex  ">
          <input type="text" placeholder="Enter Email" />
          <div class="btn btn-primary w-25 fs-5 d-flex align-items-center justify-content-center" type="button">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-0 border-bottom border-top  border-primary">
      <div class="col-lg-3 p-o m-0">
        <div class="list ">
          <label class="title text-capitalize" for="btn">company<i class="fa fa-angle-down"></i></label>
          <input type="checkbox" id="btn" />
          <ul>
            <li class="link ">
              <a href="#" class="text-capitalize fs-6 fw-semibold text-grey ">about </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">pharmacies </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">partner </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">jobs </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">contact </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">cooperation </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="list ">
          <label class="title text-capitalize" for="btn2">help <i class="fa fa-angle-down"></i></label><input
            type="checkbox" id="btn2" />

          <ul>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">personal account </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">payment and delivery </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">question and answer</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">how to reserve an item?</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">reminder for the consumer</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">privacy policy</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-lg-3">
        <div class="list ">
          <label class="title text-capitalize" for="btn3">
            promotion and sales <i class="fa fa-angle-down"></i>
          </label>
          <input type="checkbox" id="btn3" />

          <ul>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">promotion </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">gift certificates </a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">loyalty program</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">installment cards</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">partner discounts</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">cashback</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="list ">
          <label for="btn4" class="title text-capitalize">press center <i class="fa fa-angle-down"></i></label>
          <input type="checkbox" id="btn4" />
          <ul>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">news</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">article</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">blog</a>
            </li>
            <li class="link">
              <a class="text-capitalize fs-6 fw-semibold text-grey" href="#">review</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="footer-bottom text-center py-4">
      <p class="copyrights fw-semibold fs-5">&copy; &nbsp;2023 &nbsp;<span>Ph.Com</span></p>

    </div>
  </div>


</footer>
