<div class="sidebar">
  <div class="title">
    <div class="d-flex align-items-center">
      <img class="" src="../../assets/login-imgs/logo.png" alt="" />
      <h3 class="title-pharma">P H.com</h3>
    </div>
    <div class="navCloseBtn" (click)="close()">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <ul class="nav-list">

    <li class="profile" routerLink="/admin/profile" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-circle-user icon" routerLinkActive="bg-white  "></i>
        <span class="link-name" routerLinkActive="text-  ">Profile</span>
      </a>
    </li>

    <li routerLink="/admin/notification" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-bell icon"></i>
        <span class="badge bg-danger text-white position-absolute top-0 end-0 rounded-circle"
          *ngIf="(reorder.length>0)||(expire.length>0)"> {{expire.length + reorder.length}}</span>
        <span class="link-name">
          Notification</span>
      </a>
    </li>

    <li routerLink="/admin/type" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-cubes icon"></i>
        <span class="link-name">Categories</span>
      </a>
    </li>
    <li routerLink="/admin/products" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-cart-shopping icon"></i>
        <span class="link-name">Products</span>
      </a>
    </li>
    <li routerLink="/admin/offers" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-percent icon"></i>
        <span class="link-name">Offers</span>
      </a>
    </li>
    <li routerLink="/admin/orderCoordinator" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-users-gear icon"></i>
        <span class="link-name">Order Coordinators</span>
      </a>
    </li>

    <li routerLink="/admin/accountant" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-elevator icon"></i>
        <span class="link-name">Accountants</span>
      </a>
    </li>

    <li routerLink="/admin/announcement" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-bullhorn icon"></i>
        <span class="link-name">Announcements</span>
      </a>
    </li>

    <li routerLink="/admin/news" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-newspaper icon"></i>
        <span class="link-name">News</span>
      </a>
    </li>
    <li routerLink="/admin/doctors" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-user-doctor icon"></i>
        <span class="link-name">Doctors</span>
      </a>
    </li>

    <li routerLink="/admin/labs" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-flask icon"></i>
        <span class="link-name">Labs</span>
      </a>
    </li>

    <li routerLink="/admin/doseCalculator" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-calculator icon"></i>
        <span class="link-name">Dose-Calculator</span>
      </a>
    </li>
    <li routerLink="/admin/session" routerLinkActive="bg-red ">
      <a class="nav-link">
        <i class="fa-solid fa-video icon"></i>
        <span class="link-name">Live Session</span>
      </a>
    </li>


    <li (click)="logOut()">
      <a class="nav-link">
        <i class="fa-solid fa-angles-left icon"></i>
        <span class="link-name">Log Out</span>
      </a>
    </li>
  </ul>

</div>
<div class="click" (click)="droplist()">
  <i class="fa-solid fa-circle-chevron-left"></i>
</div>