<div class="sidebar">
    <div class="title">
        <div class="d-flex align-items-center">
            <img class="" src="../../assets/login-imgs/logo.png" alt="" />
            <h3 class="title-pharma">P H.com</h3>
        </div>
        <div class="navCloseBtn" (click)="close()">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <ul class="nav-list">

        <li class="profile" routerLink="/orderCoordinator/profile" routerLinkActive="bg-red " >
            <a class="nav-link">
                <i class="fa-solid fa-circle-user icon" routerLinkActive="bg-white  " ></i>
                <span class="link-name" routerLinkActive="text-  " >Profile</span>
            </a>
        </li>

        <li routerLink="/orderCoordinator/users"  routerLinkActive="bg-red ">
            <a class="nav-link">
                <i class="fa-solid fa-chart-simple icon"></i>
                <span class="link-name">Users</span>
            </a>
        </li>

        <li routerLink="/orderCoordinator/orders"  routerLinkActive="bg-red ">
            <a class="nav-link">
                <i class="fa-solid fa-chart-simple icon"></i>
                <span class="link-name">Orders</span>
            </a>
        </li>

        <li routerLink="/orderCoordinator/shippedOrders"  routerLinkActive="bg-red ">
            <a class="nav-link">
                <i class="fa-solid fa-house-circle-check icon"></i>
                <span class="link-name">Shipped Orders</span>
            </a>
        </li>


        <li (click)="logOut()">
            <a class="nav-link">
                <i class="fa-solid fa-angles-left icon"></i>
                <span class="link-name">Log Out</span>
            </a>
        </li>

    </ul>

</div>
<div class="click" (click)="droplist()">
    <i class="fa-solid fa-circle-chevron-left"></i>
</div>
