<div class="">
  <div class="row m-0 ">
    <div class="col-lg-3 col-1 p-0">
      <app-sidebar-owner></app-sidebar-owner>
    </div>

    <div class="col-lg-9 col-11 mx-auto ">
      <div class="container-lg box">

        <div class="head-one d-flex align-items-center justify-content-between">
          <h3>Accountants Analytics</h3>
        </div>

        <div class="parent">

          <div class="child d-flex flex-column" (click)="showAccountantAll()">
            <div class="content">{{accountantStats.total_accountants}}</div>
            <div class="icon">
              Total Number of Accountants
            </div>
          </div>

          <div class="child d-flex flex-column" (click)="showAccountantToday()">
            <div class="content">{{accountantStats.accountant_today}}</div>
            <div class="icon">
              Added This Day
            </div>
          </div>

          <div class="child d-flex flex-column" (click)="showAccountantMonth()">
            <div class="content">{{accountantStats.accountant_month}}</div>
            <div class="icon">
              Added This Month
            </div>
          </div>

          <div class="child  d-flex flex-column" (click)="showAccountantYear()">
            <div class="content">{{accountantStats.accountant_year}}</div>
            <div class="icon">
              Added This Year
            </div>
          </div>
        </div>


        <!-- All Accountants -->
        <div class="table-wrapper childs" *ngIf="showAll">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let accountant of accountantAll">
              <tr>
                <td>
                  <img src="assets/{{accountant.photo}}">
                </td>
                <td>
                  <h6>{{accountant.first_name}} {{accountant.last_name}}</h6>
                </td>
                <td>
                  <h6>{{accountant.email}}</h6>
                </td>
                <td>
                  <h6>{{accountant.phone}}</h6>
                </td>
                <td *ngIf="accountant.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="accountant.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- Today Accountants -->
        <div class="table-wrapper childs" *ngIf="showToday">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let accountant of accountantDay">
              <tr>
                <td>
                  <img src="assets/{{accountant.photo}}">
                </td>
                <td>
                  <h6>{{accountant.first_name}} {{accountant.last_name}}</h6>
                </td>
                <td>
                  <h6>{{accountant.email}}</h6>
                </td>
                <td>
                  <h6>{{accountant.phone}}</h6>
                </td>
                <td *ngIf="accountant.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="accountant.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Month Accountants -->
        <div class="table-wrapper childs" *ngIf="showMonth">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let accountant of accountantMonth">
              <tr>
                <td>
                  <img src="assets/{{accountant.photo}}">
                </td>
                <td>
                  <h6>{{accountant.first_name}} {{accountant.last_name}}</h6>
                </td>
                <td>
                  <h6>{{accountant.email}}</h6>
                </td>
                <td>
                  <h6>{{accountant.phone}}</h6>
                </td>
                <td *ngIf="accountant.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="accountant.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Year Accountants -->
        <div class="table-wrapper childs" *ngIf="showYear">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let accountant of accountantYear">
              <tr>
                <td>
                  <img src="assets/{{accountant.photo}}">
                </td>
                <td>
                  <h6>{{accountant.first_name}} {{accountant.last_name}}</h6>
                </td>
                <td>
                  <h6>{{accountant.email}}</h6>
                </td>
                <td>
                  <h6>{{accountant.phone}}</h6>
                </td>
                <td *ngIf="accountant.disable == 0">
                  <h6>Active</h6>
                </td>
                <td *ngIf="accountant.disable == 1">
                  <h6>Not Active</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
